<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact List</title>
  </head>
  <body>
    <h1>Contact List</h1>
    <p>Add some of the people you know to this form to store tha information!</p>
      <form action='/create_contact' method="post">
        <label for="name">Contact Name: </label>
        <input name="name" type="text" id="name">
        <label for="number">Contact Phone Number: </label>
        <input name="number" type="text" id="number">
        <label for="address">Contact Name: </label>
        <input name="address" type="text" id="address">

        <button type="submit">Add a Contact</button>
      </form>
  </body>
</html>
