<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact List</title>
  </head>
  <body>
    <h1>Contact List</h1>
    <p>Add some of the people you know to this form to store tha information!</p>
      <form action='/create_contact' method="post">
        <label for="name">Contact Name: </label>
        <input name="name" type="text" id="name">
        <label for="number">Contact Phone Number: </label>
        <input name="number" type="text" id="number">
        <label for="address">Contact Address: </label>
        <input name="address" type="text" id="address">

        <button type="submit">Add a Contact</button>
      </form>
      <form action="/delete_contacts" method="post">
        <button type="submit">delete all contacts</button>
      </form>
      {% if contacts is not empty %}
        <h4>Your Contacts: </h4>
        <ul>
            {% for contact in contacts %}
                <li>Name: {{ contact.getName }}</li>
                <ul>
                    <li>Phone Number: {{ contact.getPhone }}</li>
                    <li>Address: {{ contact.getAddress }}</li>
                </ul>
            {% endfor %}
        </ul>
      {% endif %}
  </body>
</html>
