<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact List</title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h3>You Have Added a New Contact!</h3>
      <p>{{ newcontact.getName }}</p>
      <p>Go <a href="/">back</a> to see alll of your contacts!</p>
    </div>
  </body>
</html>
