<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact List</title>
  </head>
  <body>
    <h5>You have cleared all of your contacts: </h5>
    <p>click <a href='/'>here</a> to start over with your contact list</p>
  </body>
</html>
